body {
background-color: #fa6102;
}
.header h1 {
  padding: 20px;
  margin: 0px auto;
  background-color: #fa6102;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
.content .body {
  margin: 0px auto;
  width: 90%;
}

.body p {
  color: #333333;
  font-weight: 100;
  line-height: 34px;
  width: 90%;
  margin-top: 18px;

